@media screen and (max-width: 414px){
  .topLeft{
    height: 30px;
  }
  .title{
    font-size: 10px;
  }
  .phrase{
    font-size: 10px;
    color: purple;
    text-align: center;
  }
}
@media screen and (max-width: 320px){
  .topLeft{
    position: absolute;
    top: 50px;
    left: 10px;
    height: 50px;
  }
  .title{
    font-size: 15px;
    color: rgba(236, 182, 92, 1)
  }
  .phrase{
    position: absolute;
    font-size: 10px;
    color: white;
    left: 0px;
  }
  .descriptionText{
    margin: 0;
    padding: 10px;
    color:  rgba(236, 182, 92, 1)
  }
  input, textarea{
    width: 200px;
    border-radius: 5px;
  }
  .labelAlign{
    padding: 5px 0px;
  }
}
