@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body, html{
  margin: 0;
  padding: 0;
}
.container{
  display: block;
  height: 100%
}
.mainPic{
  max-width: 100%;
  /* max-height: 100vh; */
  margin: auto;
}
/* .bottomLeft{
  position: absolute;
  bottom: 8px;
  right: 16px;
}
.topLeft{
  position: absolute;
  top:300px;
  left:100px;
} */
.title{
  font-family: 'Permanent Marker', cursive;
}
.phrase{
  font-family: 'Roboto', sans-serif;
}
.description{
  background-color: white;
  margin: 0;
}
.descriptionText{
  font-family: 'Roboto', sans-serif;
  color:  rgba(236, 182, 92, 1);
}
.formheader{
  text-align: center;
  background-color:rgba(204, 77, 6, 1);
  /* padding: 25px; */
  opacity: 0.9;
  background-image: url("../images/freedom.jpg")

  filter: alpha(opacity=50); /* For IE8 and earlier */
}
.labelAlign{
  color: white;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}
input, textarea{
  width: 600px;
  border-radius: 5px;
};
