@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

body, html{
  height: 100%;
  margin: 0;
}
.container{
  position: realtive;
  text-align: center;
  color: white;
}
.mainPic{
  width: 100%;
}
.bottomLeft{
  position: absolute;
  bottom: 8px;
  right: 16px;
}
.topLeft{
  position: absolute;
  top:300px;
  left:100px;
}
.title{
  font-family: 'Permanent Marker', cursive;
  font-size: 70px;
}
